.card{
  margin: 10px 0px;
}

h2{
  font-size: 3vw;
  text-align: center;
}

card-body{
  margin: 10px;
}

card-text{
  font-size: 1vw;
}

card-button{
  font-size: 1vw;
  display: block;
  background-color: lightblue;
  width: fit-content;
  margin: 10px 5px 0px 5px;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
  border-bottom-right-radius: calc(0.25rem - 1px);
  padding: 5px;
}